# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Mac system files
.DS_Store

# Environment variables
.env

# Build files
dist/
build/

# Coverage directory for tests
coverage/
